* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.light {
  background-color: bisque;
}

.dark {
  background-color: black;
  color: bisque
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-light {
  border: 1px solid #000;
  color: #000;
  background-color: aliceblue;
}

.btn-dark {
  border: 1px solid #fff;
  color: #fff;
  background-color: darkgray;
}

.btn-counter {
  border: 1px solid blue;
  color: blue;
  background-color: rgb(255, 255, 255);
}

#root > div {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mt-2 {
  margin-top: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-auto {
  margin: 0 auto
}

.text-center {
  text-align: center
}